
.notifications_container {
  background-color: #D9EDDF;
  margin: 0 auto;
  width: 100%;
  padding: 1rem;
  border-radius: 0.25rem;
  border: .125rem;
}

.alert_notification{
      padding: .5rem;
      color: black;
      margin-bottom: 1rem;
      border-radius: 4rem;
      background-color: #FFFFFF;
      border-color: #1CA65A;
      width: 100%;
    }

.notification_icon {
  width: 10%;
  float: left;
}
