body {
  margin: 0;
  font-family: 'Titillium Web', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

div {
  display: 'flex';
  justifyContent: 'center';
  alignItems: 'Right';
  height: '100vh';
}

figcaption {
  color: gray;
  font-style: italic;
  text-align: center;
}
